In [13]:
%config IPCompleter.greedy = True

In [14]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [15]:
import pandas as pd
import numpy as np

In [16]:
alpha_18_df = pd.read_csv('../csv_files/all_alpha_18.csv')
alpha_18_df.head(n = 2)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386

In [26]:
# Shape of DataFrame
alpha_18_df.shape

(1611, 18)

In [25]:
# Identify duplicate rows
dup_rows = alpha_18_df.duplicated()
dup_rows

non_zeros = np.count_nonzero(dup_rows)
non_zeros

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1581    False
1582    False
1583    False
1584    False
1585    False
1586    False
1587    False
1588    False
1589    False
1590    False
1591    False
1592    False
1593    False
1594    False
1595    False
1596    False
1597    False
1598    False
1599    False
1600    False
1601    False
1602    False
1603    False
1604    False
1605    False
1606    False
1607    False
1608    False
1609    False
1610    False
Length: 1611, dtype: bool

0

In [20]:
# identify rows with missing data
missing_data_series = alpha_18_df.isnull().sum()
missing_data_series

Model                   0
Displ                   2
Cyl                     2
Trans                   0
Drive                   0
Fuel                    0
Cert Region             0
Stnd                    0
Stnd Description        0
Underhood ID            0
Veh Class               0
Air Pollution Score     0
City MPG                0
Hwy MPG                 0
Cmb MPG                 0
Greenhouse Gas Score    0
SmartWay                0
Comb CO2                0
dtype: int64

In [21]:
print('Number of rows with missing data: ', np.count_nonzero(missing_data_series))

Number of rows with missing data:  2

In [22]:
# Find the datatype for each feature
alpha_18_df.dtypes

Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Cert Region              object
Stnd                     object
Stnd Description         object
Underhood ID             object
Veh Class                object
Air Pollution Score       int64
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Greenhouse Gas Score      int64
SmartWay                 object
Comb CO2                 object
dtype: object

In [23]:
# Number of non-null unique values for
unique_smart_way_series = np.unique(alpha_18_df.loc[:, 'SmartWay'], return_counts = True)
unique_smart_way_series

(array(['Elite', 'No', 'Yes'], dtype=object),
 array([  22, 1414,  175], dtype=int64))

Number of non-null unique values for SmartWay feature:  2

In [27]:
print('Number of non-null unique values for SmartWay feature: ', len(unique_smart_way_series))

Number of non-null unique values for SmartWay feature:  2

In [24]:
# Where are each of these fuel types present
unique_fuel_series = np.unique(alpha_18_df.loc[:, 'Fuel'])
unique_fuel_series

array(['Diesel', 'Electricity', 'Ethanol/Gas', 'Gasoline',
       'Gasoline/Electricity'], dtype=object)