In [39]:
%config IPCompleter.greedy = True

In [40]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [41]:
import pandas as pd
import numpy as np

In [42]:
ufo_df = pd.read_csv('http://bit.ly/uforeports')
ufo_df.head(n = 1)

     City Colors Reported Shape Reported State            Time
0  Ithaca             NaN       TRIANGLE    NY  6/1/1930 22:00

In [43]:
# Available coulmns
ufo_df.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [44]:
# Method 1: Rename existing coulmns name
ufo_df_i = ufo_df.rename(columns = {'Colors Reported':'colors_reported', 'Shape Reported':'shape_reported'}, inplace = False)
ufo_df_i.head(n = 1)
ufo_df_i.columns

     City colors_reported shape_reported State            Time
0  Ithaca             NaN       TRIANGLE    NY  6/1/1930 22:00

Index(['City', 'colors_reported', 'shape_reported', 'State', 'Time'], dtype='object')

In [45]:
# Method 2: Overwrite existing columns in dataframe
ufo_columns_ii = ufo_df.columns.str.replace(' ', '_').str.lower()
ufo_df_i.columns = ufo_columns_ii
ufo_df_i.columns

Index(['city', 'colors_reported', 'shape_reported', 'state', 'time'], dtype='object')

In [46]:
ufo_df_iii = pd.read_csv('http://bit.ly/uforeports')
ufo_df_iii.head(n = 1)
ufo_df_iii.columns

     City Colors Reported Shape Reported State            Time
0  Ithaca             NaN       TRIANGLE    NY  6/1/1930 22:00

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [47]:
# Method 3: Rename existing columns in dataframe, columns parameter implicitly take column series as input
ufo_df_iii_columns_updated = ufo_df_iii.rename(columns = lambda column_name:column_name.strip().lower().replace(' ', '_'), inplace = False)
ufo_df_iii_columns_updated.columns

Index(['city', 'colors_reported', 'shape_reported', 'state', 'time'], dtype='object')