# Results with Merged Dataset

In [75]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

%config IPCompleter.greedy = True

In [76]:
import pandas as pd
import numpy as np

In [77]:
# load dataset
df = pd.read_csv('combined_dataset.csv')
df.head(n = 3)

,model_08,displ_08,cyl_08,trans_08,drive_08,fuel_08,veh_class_08,air_pollut_08,city_mpg_08,hwy_mpg_08,...,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,2.3,4.0,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,...,SemiAuto-6,2WD,Gasoline,small SUV,3.0,20.0,28.0,23.0,5.0,No
1,ACURA RDX,2.3,4.0,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,...,SemiAuto-6,4WD,Gasoline,small SUV,3.0,19.0,27.0,22.0,4.0,No
2,AUDI A3,2.0,4.0,Man-6,2WD,Gasoline,station wagon,7.0,21.0,29.0,...,AMS-6,4WD,Gasoline,small car,7.0,24.0,31.0,27.0,6.0,No

#### Q5: For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved and which vehicle improved the most?
Remember to use your new dataset, `combined_dataset.csv`. You should've created this data file in the previous section: *Merging Datasets*.

### 1. Create a new dataframe, `model_mpg`, that contain the mean combined mpg values in 2008 and 2018 for each unique model

To do this, group by `model` and find the mean `cmb_mpg_2008` and mean `cmb_mpg` for each.

In [78]:
model_mpg = df.groupby('model')['cmb_mpg_08', 'cmb_mpg'].mean()
model_mpg.head(n = 3)

           cmb_mpg_08  cmb_mpg
model
ACURA RDX   19.000000     22.5
AUDI A3     23.333333     28.0
AUDI A4     21.000000     27.0

### 2. Create a new column, `mpg_change`, with the change in mpg
Subtract the mean mpg in 2008 from that in 2018 to get the change in mpg

In [79]:
model_mpg.dtypes

cmb_mpg_08    float64
cmb_mpg       float64
dtype: object

In [80]:
model_mpg['mpg_change'] = model_mpg['cmb_mpg'] - model_mpg['cmb_mpg_08']

In [81]:
model_mpg.head(n = 3)

           cmb_mpg_08  cmb_mpg  mpg_change
model
ACURA RDX   19.000000     22.5    3.500000
AUDI A3     23.333333     28.0    4.666667
AUDI A4     21.000000     27.0    6.000000

### 3. Find the vehicle that improved the most
Find the max mpg change, and then use query or indexing to see what model it is!

In [82]:
model_mpg['mpg_change'].nlargest(n = 1)

model
VOLVO XC 90    16.533333
Name: mpg_change, dtype: float64

In [83]:
model_mpg_nlargest_mpg_change = model_mpg['mpg_change'].nlargest(n = 1)
model_mpg_nlargest_mpg_change

model
VOLVO XC 90    16.533333
Name: mpg_change, dtype: float64

In [84]:
model_mpg_nlargest_mpg_change.index[0]

'VOLVO XC 90'

In [85]:
model_mpg_nlargest_mpg_change.values[0]

16.53333333333334