# Filter, Drop Nulls, Dedupe
Use `data_08_v1.csv` and `data_18_v1.csv`. You should've created these data files in the previous section: *Cleaning Column Labels*.

In [42]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

%config IPCompleter.greedy = True

In [43]:
import pandas as pd
import numpy as np

In [44]:
# load datasets

df_08 = pd.read_csv('data_08_v1.csv')
df_08.head( n = 2)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,4,no

In [45]:
df_18 = pd.read_csv('data_18_v1.csv')
df_18.head( n = 2)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,5,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,5,No

In [46]:
# view dimensions of dataset
df_08.shape

(2404, 13)

In [47]:
# view dimensions of dataset
df_18.shape

(1611, 13)

## Filter by Certification Region

In [48]:
# filter datasets for rows following California standards
df_08 = df_08[ df_08['cert_region'] == 'CA']
df_18 = df_18[ df_18['cert_region'] == 'CA']

In [49]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [50]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [51]:
# drop certification region columns form df_08
df_08.shape
df_08.drop('cert_region', axis = 1, inplace = True)
df_08.shape

(1084, 13)

(1084, 12)

In [52]:
# drop certification region columns form df_18
df_18.shape
df_18.drop('cert_region', axis = 1, inplace = True)
df_18.shape

(798, 13)

(798, 12)

## Drop Rows with Missing Values

In [ ]:
# view missing value count for each feature in 2008

In [ ]:
# view missing value count for each feature in 2018

In [ ]:
# drop rows with any null values in both datasets

In [ ]:
# checks if any of columns in 2008 have null values - should print False
df_08.isnull().sum().any()

In [ ]:
# checks if any of columns in 2018 have null values - should print False
df_18.isnull().sum().any()

## Dedupe Data

In [ ]:
# print number of duplicates in 2008 and 2018 datasets

In [ ]:
# drop duplicates in both datasets

In [ ]:
# print number of duplicates again to confirm dedupe - should both be 0

In [ ]:
# save progress for the next section
df_08.to_csv('data_08_v2.csv', index=False)
df_18.to_csv('data_18_v2.csv', index=False)