# Filter, Drop Nulls, Dedupe
Use `data_08_v1.csv` and `data_18_v1.csv`. You should've created these data files in the previous section: *Cleaning Column Labels*.

In [360]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

%config IPCompleter.greedy = True

In [361]:
import pandas as pd
import numpy as np

In [362]:
# load datasets

df_08 = pd.read_csv('data_08_v1.csv')
df_08.head( n = 2)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,4,no

In [363]:
df_18 = pd.read_csv('data_18_v1.csv')
df_18.head( n = 2)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,5,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,5,No

In [364]:
# view dimensions of dataset
df_08.shape

(2404, 13)

In [365]:
# view dimensions of dataset
df_18.shape

(1611, 13)

## Filter by Certification Region

In [366]:
# filter datasets for rows following California standards
df_08 = df_08[ df_08['cert_region'] == 'CA']
df_18 = df_18[ df_18['cert_region'] == 'CA']

In [367]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [368]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [369]:
# drop certification region columns form df_08
df_08.shape
df_08.drop('cert_region', axis = 1, inplace = True)
df_08.shape

(1084, 13)

(1084, 12)

In [370]:
# drop certification region columns form df_18
df_18.shape
df_18.drop('cert_region', axis = 1, inplace = True)
df_18.shape

(798, 13)

(798, 12)

## Drop Rows with Missing Values

In [371]:
# view missing value count for each feature in 2008
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [372]:
# drop rows with any null values in df_08 DataFrame
df_08.dropna(axis = 0, inplace = True)

# Confirm that, no null value exist in df_08 DataFrame
df_08.isnull().sum()

model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [373]:
# view missing value count for each feature in 2018
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [374]:
# drop rows with any null values in df_08 DataFrame
df_18.dropna(axis = 0, inplace = True)

# Confirm that, no null value exist in df_18 DataFrame
df_18.isnull().sum()

model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [375]:
# checks if any of columns in 2008 have null values - should print False
df_08.isnull().sum().any()

False

In [376]:
# checks if any of columns in 2018 have null values - should print False
df_18.isnull().sum().any()

False

## Dedupe Data

In [377]:
# print number of duplicates in 2008 and 2018 datasets
df_08_dup_series = df_08.duplicated(keep = 'first')
df_08_dup_series[0:3]

0    False
2    False
4    False
dtype: bool

In [378]:
# drop duplicates in 2008 dataset
df_08 = df_08[~df_08.duplicated(keep = 'first')]
df_08.head(n = 3)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,5,no

In [379]:
# print number of duplicates in 2018 datasets
df_18_dup_series = df_18.duplicated(keep = 'first')
df_18_dup_series[0:3]

1    False
3    False
4    False
dtype: bool

In [380]:
# drop duplicates in 2018 dataset
df_18 = df_18[~df_18.duplicated(keep = 'first')]
df_18.head(n = 3)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,greenhouse_gas_score,smartway
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,5,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,small SUV,3,19,27,4,No
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,small car,3,23,33,6,No

In [381]:
# print number of duplicates again to confirm dedupe - should both be 0
df_08.duplicated().sum()
df_18.duplicated().sum()

0

0

In [382]:
# save progress for the next section
df_08.to_csv('data_08_v2.csv', index=False)
df_18.to_csv('data_18_v2.csv', index=False)