# Inspecting Data Types
Use the space below to explore `data_08_v2.csv` and `data_18_v2.csv` to answer the quiz questions below regarding datatypes. You should've created these data files in the previous section: *Filter, Drop Nulls, Dedupe*.

In [150]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

%config IPCompleter.greedy = True

In [151]:
import pandas as pd
import numpy as np

In [152]:
# load datasets
df_08 = pd.read_csv('data_08_v1.csv')
df_08.head( n = 2)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,4,no

In [153]:
df_18 = pd.read_csv('data_18_v1.csv')
df_18.head( n = 2)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,5,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,5,No

> ##### 1. Which of the following changes could be made to make the cyl column in both datasets clear and consistent?
 - ***Extract int values from the strings in the 2008 cyl column.***
 - ***Convert floats to ints in the 2018 cyl column.***
 - Convert floats to the formatted strings in the 2018 columns.
 - No changes.

In [154]:
type(df_08.loc[0, 'cyl'])

str

In [155]:
type(df_18.loc[0, 'cyl'])

numpy.float64

> ##### 2. Which of the following changes could be made to make the air_pollution_score column in both datasets consistent?
 - ***Convert strings to floats in the 2008 column.***
 - ***Convert ints to floats in the 2018 columns.***
 - Convert strings to ints in the 2008 column.

In [156]:
type(df_08.loc[0, 'air_pollution_score'])

str

In [157]:
type(df_18.loc[0, 'air_pollution_score'])

numpy.int64

> ##### 3. Which of the following features need to be converted to floats from strings?
 - ***city_mpg (2008)***
 - ***hwy_mpg (2008)***
 - ***city_mpg (2018)***
 - ***hwy_mpg (2018)***

In [158]:
type(df_08.loc[0, 'city_mpg'])
type(df_08.loc[0, 'hwy_mpg'])

str

str

In [159]:
type(df_18.loc[0, 'city_mpg'])
type(df_18.loc[0, 'hwy_mpg'])

str

str

> 4. #### Which changes need to be made to make the greenhouse_gas_score columns in both datasets consistent?
 - ***Convert strings to ints in the 2008 column.***
 - Convert ints to floats in the 2018 columns.
 - Convert floats to ints in the 2008 column.

In [160]:
type(df_08.loc[0, 'greenhouse_gas_score'])

str

In [161]:
type(df_18.loc[0, 'greenhouse_gas_score'])

numpy.int64