In [14]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
%config IPCompleter.greedy = True

In [15]:
import pandas as pd

#### Create a DataFrame from Lists

In [16]:
data_i = [1, 2, 3, 4, 5]
df_i = pd.DataFrame(data_i)

if True:
#if False:
    pd.to_pickle(df_i, './data_frames/df_list.pkl')
    print(df_i)

   0
0  1
1  2
2  3
3  4
4  5

In [17]:
df_ii = pd.DataFrame(data_i, index = ['Row 1', 'Row 2', 'Row 3', 'Row 4', 'Row 5'])

if True:
#if False:
    pd.to_pickle(df_ii, './data_frames/df_list_with_index.pkl')
    df_ii

       0
Row 1  1
Row 2  2
Row 3  3
Row 4  4
Row 5  5

Create a DataFrame from Rank 2 Lists

In [18]:
data_iii = [['Parvesh', 28], ['Satyendra', 27], ['Gourav', 26]]
df_iii = pd.DataFrame(data_iii, columns = ['Name', 'Age'], index = ['Row 1', 'Row 2', 'Row 3'])

if True:
#if False:
    pd.to_pickle(df_iii, './data_frames/df_rank2_list.pkl')
    df_iii

            Name  Age
Row 1    Parvesh   28
Row 2  Satyendra   27
Row 3     Gourav   26

#### Create a DataFrame from Dict of ndarrays or lists

In [19]:
data_iv = {'Name': ['Parvesh', 'Satyendra', 'Gourav'], 'Age': [28, 27, 26]}
df_iv = pd.DataFrame(data_iv, index = ['Row 1', 'Row 2', 'Row 3'])

if True:
#if False:
    pd.to_pickle(df_iv, './data_frames/df_dict_of_lists.pkl')
    df_iv

            Name  Age
Row 1    Parvesh   28
Row 2  Satyendra   27
Row 3     Gourav   26

#### Create a DataFrame from list of Dicts

In [20]:
data_v = [{'Parvesh', 28}, {'Satyendra', 27}, {'Gourav', 26}]
df_v = pd.DataFrame(data_v, columns = ['Name', 'Age'], index = ['Row 1', 'Row 2', 'Row 3'])

if True:
#if False:
    pd.to_pickle(df_v, './data_frames/df_list_of_dicts.pkl')
    print(df_v)

            Name     Age
Row 1    Parvesh      28
Row 2  Satyendra      27
Row 3         26  Gourav

#### Create a DataFrame from Dict of series

In [21]:
data_vi = {
    'Column I':pd.Series(data = [1, 2, 3], index = ['Row 1', 'Row 2', 'Row 3']),
    'Column II':pd.Series(data = [4, 5, 6, 7], index = ['Row 1', 'Row 2', 'Row 3', 'Row 4'])
}
df_vi = pd.DataFrame(data_vi)

if True:
#if False:
    pd.to_pickle(df_vi, './data_frames/df_dict_of_series.pkl')
    print(df_vi)

       Column I  Column II
Row 1       1.0          4
Row 2       2.0          5
Row 3       3.0          6
Row 4       NaN          7

In [22]:
ridership_df = pd.DataFrame(
    data=[[   0,    0,    2,    5,    0],
          [1478, 3877, 3674, 2328, 2539],
          [1613, 4088, 3991, 6461, 2691],
          [1560, 3392, 3826, 4787, 2613],
          [1608, 4802, 3932, 4477, 2705],
          [1576, 3933, 3909, 4979, 2685],
          [  95,  229,  255,  496,  201],
          [   2,    0,    1,   27,    0],
          [1438, 3785, 3589, 4174, 2215],
          [1342, 4043, 4009, 4665, 3033]],
    index=['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
           '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'],
    columns=['R003', 'R004', 'R005', 'R006', 'R007']
)

if True:
#if False:
    pd.to_pickle(ridership_df, './data_frames/df_dict_of_ridership.pkl')
    print(ridership_df)

          R003  R004  R005  R006  R007
05-01-11     0     0     2     5     0
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613
05-05-11  1608  4802  3932  4477  2705
05-06-11  1576  3933  3909  4979  2685
05-07-11    95   229   255   496   201
05-08-11     2     0     1    27     0
05-09-11  1438  3785  3589  4174  2215
05-10-11  1342  4043  4009  4665  3033

In [23]:
grades_df = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          'exam2': [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio', 
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James']
)

if True:
#if False:
    pd.to_pickle(grades_df, './data_frames/df_students_grades.pkl')
    print(grades_df)

         exam1  exam2
Andre       43     24
Barry       81     63
Chris       78     56
Dan         75     56
Emilio      89     67
Fred        70     51
Greta       91     79
Humbert     65     46
Ivan        98     72
James       87     60