In [1]:
%config IPCompleter.greedy = True

In [2]:
import pandas as pd

In [3]:
students_df = pd.read_pickle('data_frames/df_students_grades.pkl')
students_df.head(n = 3)

       exam1  exam2
Andre     43     24
Barry     81     63
Chris     78     56

In [4]:
def convert_marks_to_grade(marks):
    print(marks)
    is_processed = False
    grade = None
    
    if (not is_processed and (marks >= 90 )):
        grade = 'A'
        is_processed = True
        
    if (not is_processed & (marks >= 80 & marks < 90)):
        grade = 'B'
        is_processed = True
        
    if (not is_processed & (marks >= 70 & marks < 80)):
        grade = 'C'
        is_processed = True

    if (not is_processed & (marks >= 60 & marks < 70)):
        grade = 'D'
        is_processed = True
        
    if not is_processed:
        grade = 'D'
        is_processed = True
        
    return grade

In [5]:
students_grade_df = students_df.applymap(convert_marks_to_grade)
students_grade_df

43
81
78
75
89
70
91
65
98
87
43
81
78
75
89
70
91
65
98
87
24
63
56
56
67
51
79
46
72
60

        exam1 exam2
Andre       B     B
Barry       B     B
Chris       B     B
Dan         B     B
Emilio      B     B
Fred        B     B
Greta       A     B
Humbert     B     B
Ivan        A     B
James       B     B