In [26]:
%config IPCompleter.greedy = True

In [27]:
import pandas as pd

In [28]:
students_df = pd.read_pickle('data_frames/df_students_grades.pkl')
students_df.head(n = 3)

       exam1  exam2
Andre     43     24
Barry     81     63
Chris     78     56

In [29]:
def convert_marks_to_grade(marks):
    
    is_processed = False
    grade = None
    
    if (not is_processed and (marks >= 90 )):
        grade = 'A'
        is_processed = True
        
    if (not is_processed & (marks >= 80 & marks < 90)):
        grade = 'B'
        is_processed = True
        
    if (not is_processed & (marks >= 70 & marks < 80)):
        grade = 'C'
        is_processed = True

    if (not is_processed & (marks >= 60 & marks < 70)):
        grade = 'D'
        is_processed = True
        
    if not is_processed:
        grade = 'D'
        is_processed = True
        
    return grade

In [30]:
students_grade_df = students_df.applymap(convert_marks_to_grade)
students_grade_df

        exam1 exam2
Andre       A     A
Barry       A     A
Chris       A     A
Dan         A     A
Emilio      A     A
Fred        A     A
Greta       A     A
Humbert     A     A
Ivan        A     A
James       A     A