#### pandas.DataFrame.sort_values AND pandas.DataFrame.apply

In [1]:
%config IPCompleter.greedy = True

In [2]:
import numpy as np
import pandas as pd

In [3]:
drinks_df = pd.read_csv('../csv_files/drinks.csv')
drinks_df.head(n=2)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe

In [4]:
# Argument axis = 0, get result by finding maximum number exist in column

#if True:
if False:
    computed_drinks_df_i = drinks_df.loc[:, 'beer_servings':'wine_servings'].apply(np.max, axis = 0)
    computed_drinks_df_i

In [5]:
# Argument axis = 1, get result by finding maximum number exist in column

#if True:
if False:
    computed_drinks_df_ii = drinks_df.loc[:, 'beer_servings':'wine_servings'].apply(np.max, axis = 1)
    computed_drinks_df_ii.head(n = 2)

In [6]:
numbers_df = pd.DataFrame({
    'a': [4, 5, 3, 1, 2],
    'b': [20, 10, 40, 50, 30],
    'c': [25, 20, 5, 15, 10]
})

def second_largest(df):
    '''
    Fill in this function to return the second-largest value of each 
    column of the input DataFrame.
    '''
    return df.apply(second_largest_column, axis = 0)

def second_largest_column(column):
    '''
    Fill in this function to return the second-largest value of each 
    column of the input DataFrame.
    '''
    sorted_column = column.sort_values(ascending = False)
    
    return sorted_column.iloc[1]

In [7]:
updated_numbers_df = second_largest(numbers_df)
updated_numbers_df

a     4
b    40
c    20
dtype: int64