In [80]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

%config IPCompleter.greedy = True

In [81]:
%config IPCompleter.greedy = True
import pandas as pd

In [82]:
# DataFrame with cumulative entries and exits for multiple stations
ridership_df = pd.DataFrame({
    'UNIT': ['R051', 'R079', 'R051', 'R079', 'R051', 'R079', 'R051', 'R079', 'R051'],
    'TIMEn': ['00:00:00', '02:00:00', '04:00:00', '06:00:00', '08:00:00', '10:00:00', '12:00:00', '14:00:00', '16:00:00'],
    'ENTRIESn': [3144312, 8936644, 3144335, 8936658, 3144353, 8936687, 3144424, 8936819, 3144594],
    'EXITSn': [1088151, 13755385,  1088159, 13755393,  1088177, 13755598, 1088231, 13756191,  1088275]
})
ridership_df

   UNIT     TIMEn  ENTRIESn    EXITSn
0  R051  00:00:00   3144312   1088151
1  R079  02:00:00   8936644  13755385
2  R051  04:00:00   3144335   1088159
3  R079  06:00:00   8936658  13755393
4  R051  08:00:00   3144353   1088177
5  R079  10:00:00   8936687  13755598
6  R051  12:00:00   3144424   1088231
7  R079  14:00:00   8936819  13756191
8  R051  16:00:00   3144594   1088275

In [83]:
#Groupby 'UNIT'
station_entries_and_exits_grp = ridership_df.groupby(['UNIT'])[['ENTRIESn', 'EXITSn']]

In [84]:
#How to get keys of groupped data
groupped_keys = station_entries_and_exits_grp.groups.keys()
print(groupped_keys)

dict_keys(['R051', 'R079'])

In [85]:
# Observe groupped data : Unblock following code block

for key, item in station_entries_and_exits_grp:
    key
    type(station_entries_and_exits_grp.get_group(key))
    station_entries_and_exits_grp.get_group(key)
    print('====================\n')

'R051'

pandas.core.frame.DataFrame

   ENTRIESn   EXITSn
0   3144312  1088151
2   3144335  1088159
4   3144353  1088177
6   3144424  1088231
8   3144594  1088275

====================

'R079'

pandas.core.frame.DataFrame

   ENTRIESn    EXITSn
1   8936644  13755385
3   8936658  13755393
5   8936687  13755598
7   8936819  13756191

====================

In [86]:
def get_hourly_entries_and_exits(entries_and_exits):
    '''
    Fill in this function to take a DataFrame with cumulative entries
    and exits and return a DataFrame with hourly entries and exits.
    The hourly entries and exits should be calculated separately for
    each station (the 'UNIT' column).
    '''    
    return entries_and_exits.apply(shift_rows)

In [87]:
def shift_rows(df):
    return df - df.shift(periods = 1)

In [88]:
mod_df = get_hourly_entries_and_exits(station_entries_and_exits_grp)
mod_df

   ENTRIESn  EXITSn
0       NaN     NaN
1       NaN     NaN
2      23.0     8.0
3      14.0     8.0
4      18.0    18.0
5      29.0   205.0
6      71.0    54.0
7     132.0   593.0
8     170.0    44.0