In [29]:
%config IPCompleter.greedy = True

In [30]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [31]:
import pandas as pd
import numpy as np

In [32]:
whitewine_df = pd.read_csv('../csv_files/winequality-white.csv', sep = ';')
whitewine_df.shape
whitewine_df.head(n = 2)

(4898, 12)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.994,3.3,0.49,9.5,6

In [33]:
color_column_series_i = np.repeat('white', whitewine_df.shape[0])
whitewine_df['color'] = color_column_series_i

In [34]:
redwine_df = pd.read_csv('../csv_files/winequality-red.csv', sep = ';')
redwine_df.shape
redwine_df.head(n = 2)

(1599, 12)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5

In [35]:
color_column_series_ii = np.repeat('red', redwine_df.shape[0])
redwine_df['color'] = color_column_series_ii

In [36]:
combined_df = whitewine_df.append(redwine_df)
combined_df.shape
combined_df.head(n = 2)

(6497, 13)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.994,3.3,0.49,9.5,6,white

In [38]:
combined_df.to_csv('../csv_files/combined_df.csv')
combined_df.head(n = 3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white